.table{
    tbody{
        tr:nth-child(even){
            background-color: #f2f2f2 !important;
        }
    }
    .product-image{
        img{
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}